<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post details</title>
</head>
<body>
<h4>Szczegóły postu nr {{ post_details.id }}</h4>

    <p>Title: {{ post_details.title }}</p>
    <p>Content: {{ post_details.content }}</p>
    <p>Author: {{ post_details.author }}</p>
    <p>Created_at: {{ post_details.created_at }}</p>
    <p>Published:{{ post_details.published }}</p>
<h5>Comments:</h5>
{% for p in post_details.comments.all %}
    <p>Author: {{ p.author }}</p>
    <p>Text: {{ p.text }}</p>
{% endfor %}

{% if user.is_authenticated %}
<h4> Dodaj komentarz:</h4>
<form method="POST">
    {% csrf_token %}
    <p>
    <label for="c_text">Text</label>
        <textarea id="c_text" placeholder="Wpisz tresc" name="comment_text" rows="4" cols="50"></textarea>
    </p>
    <p>
    <input type="submit" value="Send">
    </p>

</form>
{% endif %}

<a href="{% url 'posts:display_post' %}"><input type=button value="Previous Page"></a>
</body>
</html>